.seleccionar-estudiante-contenedor {
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    width: 30%;
    height: 170px;
}

.detalles-y-seleccion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.seleccionar-estudiante-btn {
    background-color: #0072CE;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.seleccionar-estudiante-btn:hover {
    background-color: #004086;
}

.seleccionar-estudiante-btn:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.estudiante-seleccionado-contenedor {
    background-color: #f9fbfd; /* Fondo claro para suavidad */
    border: 1px solid #d1e3f8; /* Borde con tono azul suave */
    border-radius: 12px; /* Bordes más redondeados */
    padding: 15px; /* Espaciado interno cómodo */
    text-align: left; /* Alineación del texto */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra más definida para profundidad */
    box-sizing: border-box;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transiciones suaves para hover */
}

.estudiante-seleccionado p {
    margin: 5px 0;
    font-size: 14px;
    color: #34495e;
}

.seleccion-estudiante-title {
    font-size: 1.2rem; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    color: #004085; /* Color azul destacado */
    margin:15px 15px; /* Espaciado inferior */
    text-align: left; /* Alineación a la izquierda */
    border-left: 4px solid #3498db; /* Barra decorativa a la izquierda */
    padding-left: 10px; /* Espaciado entre el texto y la barra */
}

