/* Título principal para la sección de Usuarios Pendientes */
.approve-users-title {
    font-size: 24px;
    font-weight: bold;
    color: #005499;
    margin-bottom: 20px;
    text-align: center;
}

/* Lista de usuarios pendientes */
.approve-users-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    height: auto;
}

/* Tarjeta de cada usuario pendiente */
.approve-users-card {
    width: 300px;
    background: #f9f9fb;
    border: 1px solid #e0e0e0; /* Borde más delgado y de color más claro */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregada transición para sombra */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle elevación */
}
.approve-users-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15); /* Sombra más profunda al hacer hover */
}

/* Imagen de perfil grande */
.approve-users-profile-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

/* Contenedor de información del usuario */
.approve-users-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Estilo para cada elemento de información del usuario */
.approve-users-info-item {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

/* Etiqueta (título) encima de cada valor */
.approve-users-label {
    font-size: 12px;
    font-weight: bold;
    color: #555;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.approve-users-value {
    font-size: 14px;
    color: #333;
    padding: 5px 10px;
    background: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón de aprobación */
.approve-users-button {
    width: 90%;
    max-width: 250px;
    background: #007bff;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s;
    margin-top: 10px;
}

.approve-users-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Mensaje cuando no hay usuarios pendientes */
.approve-users-no-pending {
    font-size: 16px;
    color: #777;
    text-align: center;
    margin-top: 20px;
}
