/* Estilo de la superposición para el modal de estudiantes */
.estudiantes-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.estudiantes-layout {
    display: flex;
    flex-grow: 1; /* Permite que el layout ocupe el espacio vertical restante */
}
.estudiantes-content {
    flex-grow: 1; /* Ocupa el espacio restante junto al sidebar */
}
.estudiantes-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Fondo gris semitransparente */
    z-index: 1000;
}

/* Estilos del contenido del modal */
.estudiantes-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 550px;
    max-width: 90%;
}

.estudiantes-modal-header {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.estudiantes-input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    color: #333;
}

/* Estilo para la información del grupo */
.group-info-section {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding-left: 40px;
    padding: 20px 40px;
    max-height: 150px;
    border: none; /* Elimina cualquier borde */
    box-shadow: none; /* Elimina cualquier sombra */
}

.divisor-container {
    background-color: white; /* Fondo blanco para todo el contenedor */
    padding: 0 40px; /* Espacio a los lados */
}

.divisor-est {
    height: 2px;
    background-color: black;
}

.group-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-right: 30px;
}

.estudiantes-container .container {
    padding: 40px;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(100vh - 245px); /* Ajusta según la altura de tu header */
    overflow-y: auto; /* Permite el scroll dentro del contenedor */
    margin-bottom: -40px; /* Para extender el contenedor hasta el borde inferior */
}

.group-title {
    font-size: 44px; /* Ajusta el tamaño del título según necesites */
    font-weight: bold;
    color: #333; /* Color para el título */
    margin-bottom: 20px;
}

.group-description {
    font-size: 25px; /* Ajusta el tamaño de la descripción según necesites */
    color: #777; /* Color para la descripción */
    margin-top: 5px;
}
