.evaluacion-individual-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Contenido de la barra lateral y del contenedor principal */
.evaluacion-individual-sidebar-content {
    display: flex;
    height: 100%;
}
/* Modal */
.evaluacion-individual-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.evaluacion-individual-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.evaluacion-individual-modal-content h3 {
    font-size: 1.4em;
    margin-bottom: 20px;
}

/* Input de texto y lista seleccionable */
.evaluacion-individual-modal-content input,
.evaluacion-individual-modal-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    appearance: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.evaluacion-individual-modal-content input:focus,
.evaluacion-individual-modal-content select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

/* Estilo para el select personalizado */
.evaluacion-individual-modal-content select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='%23444444' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px; /* Espacio para el icono de la flecha */
}

/* Estilo de las opciones en la lista seleccionable */
.evaluacion-individual-modal-content option {
    padding: 10px;
    color: #333;
    background: #fff;
    font-size: 1em;
}
/* CSS para el contenedor de fecha y hora */
.fecha-hora-container {
    display: flex;
    gap: 10px; /* Añade espacio entre los elementos */
    align-items: center;
}

/* CSS para los inputs de fecha y hora */
.fecha-hora-input {
    width: 100%; /* Ocupa el ancho completo del contenedor individual */
    padding: 8px; /* Ajusta el espacio interno para una mejor apariencia */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}



.etapas-input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.etapasd-container {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.etapas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.etapas-titulo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.etapas-divider {
    flex-grow: 1;
    margin-left: 10px;
    border: none;
    height: 2px;
    background-color: #ccc;
}

.examenes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.examen-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.grupo-info, .defensa-info, .representante-info {
    margin-bottom: 10px;
}
.examen-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}



.examen-grupo {
    font-size: 18px;
    margin-bottom: 15px;
}

.evaluar-btn {
    align-self: flex-start;
    background-color: #0072CE;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.evaluar-btn:hover {
    background-color: #004085;
}


.grupo-foto, .representante-foto {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 5px;
}
.grupo-foto{
    width: 100px;
    height: 100px;
}

.representante-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.defensa-info {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.defensa-info p {
    margin: 0;
    font-size: 16px;
}
