/* Estilo general para la página */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
  }
  
  /* Contenedor principal */
  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/Background.png');
    background-size: cover;
    background-position: center;
  }
  
  /* Caja del formulario */
  .forgot-password-box {
    background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    border-radius: 20px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(8px); /* Efecto de desenfoque */
  }
  
  /* Estilo del título */
  .forgot-password-box h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
  }
  
  /* Línea divisoria */
  .divider {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 20px 0;
  }
  
  /* Input de correo */
  .forgot-password-box input {
    width: calc(100% - 20px); /* Igual ancho que el botón */
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo translúcido */
    color: white;
    box-sizing: border-box; /* Asegura que el padding no cause overflow */
  }
  
  /* Botón de enviar */
  .forgot-password-box button {
    width: calc(100% - 20px); /* Igual ancho que el botón */
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 30px;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background-color: #0072CE;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .forgot-password-box button:hover {
    background-color: #005bb5;
  }
  
  /* Enlace para volver al login */
  .back-to-login {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-top: 15px;
  }
  
  .back-to-login:hover {
    text-decoration: underline;
  }
  