/* Aplica el ancho completo al editor específico para requerimientos */
.requerimientos-list .project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.requirement-quill-editor .ql-editor {
  font-size: 14px; /* Ajusta al tamaño que deseas */
  line-height: 1.5;
  width: 100%;
}

.requirement-quill-editor .ql-container {
  width: 100%;
  box-sizing: border-box;
}

.project-info.requerimientos-list {
  display: flex;
  align-items: center; /* Alinea el número y el texto verticalmente */
  padding: 5px 10px;
  flex-direction: row;
  color: black;
}

.requirement-number-container {
  margin-right: 8px; /* Espacio entre el número y el texto */
  display: flex;
  align-items: center;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.requirement-text-container {
  flex: 1; /* Permite que el texto ocupe el espacio disponible */
  display: flex;
  align-items: center;
}

.requirement-description * {
  font-size: 16px !important; /* Fuerza el tamaño para todos los elementos */
  line-height: 1.5 !important;
  color: black !important;
  color: black;
}