
.app-background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 0 40px; /* Solo padding horizontal si es necesario */
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.5px);
}

.divider {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.4);
    width: calc(
        100% + 80px
    ); /* Ancho total más el padding horizontal del contenedor */
    margin: 15px 0;
    padding: 0;
    box-sizing: border-box;
    position: relative; /* Mantener la posición relativa para el flujo */
    left: -40px; /* Ajustar para compensar el padding horizontal del contenedor */
}

.login-container h2 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    width: auto; /* Queremos que ocupe todo el contenedor */
    cursor: pointer;
}

.input-group select,
.input-group input {
    display: block;
    width: 100% !important; /* Ocupar todo el ancho del contenedor */
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo translúcido */
    color: #ffffff;
    font-size: 16px;
    box-sizing: border-box; /* Asegúrate de que el padding no cause un desbordamiento */
}

.input-group select option {
    background-color: rgba(255, 255, 255, 0.1);
    color: #000000;
}

/* Ícono de mostrar/ocultar contraseña */
.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
}

.select-role {
    padding-right: 40px; /* Espacio para el ícono */
    cursor: pointer; /* Cursor pointer en todo el select */
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    outline: none;
    box-sizing: border-box;
}

/* Ícono del select personalizado con FontAwesome */
.toggle-select {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Hace que el ícono sea clickeable a través del select */
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    z-index: 10;
}

.input-group:hover .toggle-select,
.toggle-password:hover {
    color: #cccccc; /* Color más claro cuando el usuario pasa el mouse por encima */
}

/* Ocultar la flecha nativa del select */
.input-group select {
    appearance: none; /* Ocultar la flecha nativa del select */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 40px; /* Para dejar espacio para el icono */
}

.styled-button {
    width: 320px;
    height: 41.77px;
    border: 3px solid #005bb5;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1em;
    font-weight: 550;
    color: #005bb5;
}

.styled-button:hover {
    background: #005bb5;
    color: white;
}

.extra-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.extra-links a {
    color: #ffffff;
    margin: 5px 0;
    text-decoration: none;
    font-size: 14px;
}

.extra-links a:hover {
    text-decoration: underline;
}

.google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    margin: 20px auto; /* Centrar horizontalmente el botón */
    cursor: pointer;
    width: 230px;
    height: 42px;
}

.google-login img {
    width: 40px;
    height: 40px;
}

.google-login span {
    font-size: 16px;
    color: #000000;
}

.google-login:hover span {
    color: white; /* Cambia el color del texto a blanco en el hover */
}

.google-login:hover {
    background-color: #005bb5;
}

/* Estilo para los placeholders */
::placeholder {
    color: #cccccc; /* Gris claro */
    opacity: 1; /* Asegura que el color del placeholder no sea translúcido */
}

/* Para navegadores Webkit (Chrome, Safari, etc.) */
::-webkit-input-placeholder {
    color: #cccccc; /* Gris claro */
}

/* Para Firefox */
::-moz-placeholder {
    color: #cccccc; /* Gris claro */
}

/* Para IE */
:-ms-input-placeholder {
    color: #cccccc; /* Gris claro */
}

/* Para Edge */
::-ms-input-placeholder {
    color: #cccccc; /* Gris claro */
}
