/* Modal de error */
.error-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%; /* Para asegurarte de que ocupe el ancho completo */
    text-align: center;
    padding-left: 0px;
}

.error-message p {
    margin: 0;
    font-size: 18px;
    color: black;
}

.error-message i {
    font-size: 40px; /* Tamaño del ícono */
    color: #e74c3c; /* Rojo para el ícono de error */
    align-self: center; /* Centra verticalmente el ícono */
    flex-shrink: 0; /* Evita que el ícono se reduzca */
}
