/* NotFound.css */

.notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #f0f4ff;
    color: #4a4e69;
    font-family: "Comic Sans MS", "Chalkboard", sans-serif;
}

.notfound-illustration img {
    width: 200px;
    margin-bottom: 20px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.notfound-title {
    font-size: 2.5em;
    color: #22223b;
    margin: 0;
    padding: 10px;
    text-shadow: 2px 2px #a8a7c9;
}

.notfound-message {
    font-size: 1.2em;
    color: #4a4e69;
    margin: 10px 0 20px;
    max-width: 80%;
}

.notfound-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #8f8c9a;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.notfound-link:hover {
    background-color: #22223b;
    color: #f0f4ff;
    transform: scale(1.1);
}
