/* Contenedor principal */
.container {
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(100vh - 50px); /* Ajusta según la altura de tu header */
    overflow-y: auto; /* Permite el scroll dentro del contenedor */
    margin-bottom: -40px; /* Para extender el contenedor hasta el borde inferior */
}

/* Header de proyectos */
.projects-header {
    background-color: #c8ebff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Para distribuir los elementos en los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    position: relative;
    top: 0;
    width: 100%; /* Asegura que ocupe el ancho completo */
    box-sizing: border-box; /* Asegura que los padding no sumen tamaño adicional */
    height: 60px; /* Ajusta la altura del contenedor */
}

.disabled {
    pointer-events: none; /* Desactiva la interacción */
    opacity: 0.5; /* Aplica opacidad */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Asegúrate de que esté por encima de otros elementos */
}

.projects-header h2 {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: bold; /* Añade esta línea para poner en negrita */
    display: flex;
    align-items: center; /* Centra verticalmente el texto */
}

.new-project-btn {
    background-color: #015fa9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: auto; /* Deja que el botón se ajuste automáticamente según el contenido */
    max-width: 200px; /* Si quieres limitar el ancho máximo, puedes usar max-width */
    align-items: center;
}

.new-project-btn:hover {
    background-color: #002a4c;
}

.project-item:hover {
    transform: scale(1.02);
}

/* Lista de proyectos */
.project-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.project-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.project-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.project-item .project-info {
    flex-grow: 1;
}

.project-item .project-info h3 {
    margin: 0;
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.project-item .project-info h3:hover {
    color: #015fa9;
}

.project-item .project-info p {
    margin: 0;
    color: #666;
    font-size: 14px;
}

/* Botones de acciones de proyecto */
.project-item .project-actions {
    display: flex;
    align-items: center;
}

.project-item .project-actions .action-btn {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 12px !important;
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-item .project-actions .action-btn:hover {
    background-color: #1558b0;
    color: white;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 650px;
    max-width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
    margin-top: 0;
    color: black;
}



.description-and-photo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilo para el contenedor de la foto */
.upload-container {
    flex: 1; /* Asegura que el contenedor tenga el espacio correcto */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el círculo horizontalmente */
    justify-content: flex-start; /* Alinea todo el contenido desde la parte superior */
    gap: 10px; /* Espaciado entre el texto y el círculo */
}

.upload-container .etapa-label {
    align-self: flex-start; /* Alinea el texto a la izquierda del contenedor */
}


.upload-container .field-label {
    position: relative; /* Cambiamos a relativo para evitar que se salga del flujo */
    margin-bottom: 10px; /* Añade espacio debajo del texto */
    text-align: center; /* Centra el texto dentro del contenedor */
    font-size: 1rem;
    color: #2c3e50;
    font-weight: 500;
}

.upload-container p {
    font-weight: bold;
    align-self: flex-start;
    margin: 0;
    padding-left: 0;
    color: black;
    padding-top: 0;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.upload-box:hover {
    border-color: #2c3e50;
}

.upload-box i {
    font-size: 40px;
    color: #ccc;
    margin-bottom: 5px;
}

.upload-box p {
    font-size: 12px;
    color: #666;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* Mantiene la forma circular */
}

/* Botones de acción del modal */
.modal-actions,
.confirm-modal-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    grid-column: span 2; /* Ocupa ambas columnas */
}

.cancel-btn,
.create-btn,
.delete-btn {
    padding: 8px 16px; /* Reduce el padding para hacer los botones más pequeños */
    border-radius: 12px !important;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    max-width: 150px; /* Controla el tamaño máximo del botón */
}

.cancel-btn {
    background-color: #999;
    color: white;
}

.create-btn {
    background-color: #1a73e8;
    color: white;
}

.create-btn:hover,
.delete-btn:hover {
    background-color: #1559b3;
}

.cancel-btn:hover {
    background-color: #747474;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.description-photo-container {
    display: flex;
    justify-content: space-between; /* Asegura que la descripción y la foto estén separadas */
    align-items: flex-start; /* Alinea los elementos al inicio superior */
    gap: 20px; /* Espaciado uniforme entre la descripción y la foto */
}

.description-field {
    flex: 2; /* Reduce el espacio ocupado por la descripción */
    max-width: 60%; /* Limita el ancho máximo de la descripción */
}

.date-fields {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    flex: 1; /* Asegura que las fechas ocupen el mismo espacio */
}

.field-label {
    font-size: 1rem;
    font-weight: 500;
    color: #2c3e50;
}

.input-field,
.textarea-field {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Para mantener el padding dentro del tamaño */
}

.textarea-field {
    resize: vertical;
    min-height: 120px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.date-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center; /* Centra verticalmente los campos */
    grid-column: span 2; /* Asegura que ocupe ambas columnas */
}