/* Estilos específicos para la página de Tareas del Estudiante */
.tareas-estudiante-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tareas-estudiante-sidebar-content {
    display: flex;
    height: 100%;
}

.tareas-estudiante-main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #76a9d9; /* Color de fondo específico */
    box-sizing: border-box;
    overflow-y: auto;
}

.tareas-estudiante-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
