/* sprints.css */

/* Contenedor de Sprints */
.contenedor-sprints {
    background-color: #0a2540;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-height: 75vh;
    overflow: hidden;
}

/* Estilo de Sprint Individual */
.sprint {
    background-color: #1a355b;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}
.sprint-header {
    display: flex;
    justify-content: space-between;
}
.sprint-titulo {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

/* Fecha del Sprint */
.sprint-fecha {
    color: #ccc;
    font-size: 16px;
    margin: 5px 0 10px;
}
.divisor-titulo-sprints {
    margin-top: 5px;
    border-top: 2px solid white;
}

/* Contenido del Sprint */
.sprint-contenido {
    background-color: #102a43;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    overflow-y: auto;
    max-height: 75vh;
}

/* Mensaje vacío */
.sprint-mensaje-vacio {
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}
