<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://localhost:3000"  # Ajusta el puerto si es necesario
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, X-Requested-With, X-CSRF-TOKEN"
</IfModule>

Options +FollowSymLinks
RewriteEngine On

# Reescritura para permitir que Laravel maneje las rutas del frontend
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Permitir el acceso a los archivos de imagen y otros archivos dentro de public/storage
<FilesMatch "\.(jpg|jpeg|png|gif|bmp|webp)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# También puedes incluir otras extensiones si es necesario
<FilesMatch "\.(pdf|doc|docx|xls|xlsx)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

<Limit GET POST PUT DELETE>
    Allow from all
</Limit>

RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]